.booking__right-book,
.booking__right-tid{
    background-color: #A7B9A850;
}

.beliggenhed{
    background-color: #A7B9A850;
    margin:0px 50px
}

.booking{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}


.calendar-wrapper {
        border: 2px solid #4d6b57;
        padding: 15px;
        border-radius: 6px;
        background: #fbfbf9;
        width: 340px;
    }

    .calendar {
        border: 1px solid #4d6b57;
        padding: 20px;
        border-radius: 4px;
        background: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dcdcd7' fill-opacity='0.3' d='M0 0h1v1H0zM2 0h1v1H2zM0 2h1v1H0zM2 2h1v1H2z'/%3E%3C/svg%3E");
    }

    .month-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .month-header span {
        font-size: 22px;
        color: #2f4638;
    }

    .arrow {
        font-size: 22px;
        color: #2f4638;
        cursor: pointer;
        user-select: none;
    }

    .weekdays, .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        color: #2f4638;
    }

    .weekdays div {
        font-weight: bold;
        padding: 8px 0;
    }

    .divider {
        height: 1px;
        background: #4d6b57;
        margin: 5px 0 10px 0;
        opacity: 0.4;
    }

    .days div {
        padding: 8px 0;
        margin: 2px 0;
    }

    .days div:hover{
        font-weight: 900;
    }