
.booking{
    display: flex;
    gap: 40px;
    margin: 0 50px;
}

.booking__title{
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Har hentet inspiration fra W3 schools til kalenderen https://www.w3schools.com/howto/howto_css_calendar.asp  */
.booking__calendar-wrapper {
    border: 2px solid #A7B9A8;
    padding: 15px;
    border-radius: 6px;
    background: #fbfbf9;
    width: 340px;
}

.calendar {
    border: 1px solid #A7B9A8;
    padding: 20px;
    border-radius: 4px;
    background: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dcdcd7' fill-opacity='0.3' d='M0 0h1v1H0zM2 0h1v1H2zM0 2h1v1H0zM2 2h1v1H2z'/%3E%3C/svg%3E");
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.calendar__month{
    font-size: 36px;
    color: #2f4638;
}

.calendar__arrow {
    font-size: 22px;
    color: #2f4638;
    cursor: pointer;
}

.calendar__weekdays, .calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #2f4638;
}

.calendar__weekdays div {
    font-weight: bold;
    padding: 8px 0;
}

.calendar__divider {
    height: 1px;
    background: #A7B9A8;
    margin: 5px 0 10px 0;
    opacity: 0.4;
}

.calendar__days div {
    padding: 8px 0;
    margin: 2px 0;
}

.calendar__days div:hover{
    font-weight: 900;
}


.booking__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.booking__box{
    padding: 20px;
    border-radius: 5px;
    background-color: #A7B9A850;
}

.booking__box-title{
    font-size: 32px;
    font-weight: 900;
}

.booking__box-text{
    line-height: 50px;
    font-size: 30px;
}

.booking__tid{
    display: flex;
    align-items: center;
    gap: 20px;
}

.booking__tid label{
    display: inline-flex;
    font-size: 30px;
}

.booking__tid .button{
    margin-left: 40px;
}

/* Hentet inspiration til google kort fra youtube https://www.youtube.com/watch?v=4U_AAGHzTok */
.location{
    background: #A7B9A850;
    margin: 40px 50px;
    padding: 30px;
    border-radius: 5px;
}

.location__grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.location__map iframe{
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 5px;
}

.location__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: #fbfbf9;
    border:2px solid #A7B9A8;
}

.location__pin{
    margin-top: 10px;
    width: 100px;
    height: auto;
}

.location__address{
    font-size: 30px;
    font-weight: 600;
}

.location__link{
    color: #2f4638;
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 1355px){
    .booking__box-text{
        line-height: 50px;
    }
}

@media (max-width: 760px){
    
    .booking__title{
        font-size: 25px;
    }


    .booking{
        flex-direction: column;
        margin: 0 10px;
        gap: 16px;
    }

    .booking__box-title{
        font-size: 25px;
    }

    .booking__box-text{
        font-size: 15px;
    }

    .booking__calendar-wrapper{
        width: 100%;
        max-width: none;
        box-sizing: border-box;
        padding-left: 12px;
        padding-right: 12px;
    }

    .calendar{
        width:100% ;
        box-sizing: border-box;
    }
    
    .location{
        margin: 20px;
    }

    .location__address{
        font-size: 15px;
    }

    .location__link{
        font-size: 15px;
    }

    .location__info{
        padding: 20px 10px 40px;
    }

    .location__title{
        font-size: 25px;
    }

    .location__grid{
        grid-template-columns: 1fr;

    }

    .location__map iframe{
        height: 350px ;
    }

    .location__pin{
        width: 50px;
    }

    
}