
.intro{
    min-width: 750px;
    text-align: center;
    margin: 50px;
    padding: 0 100px;
}

.intro__text{
    font-size:30px;
}

.aktiviteter{
    background-color: #A7B9A8;
    padding: 40px 0;
    text-align: center;
}

.aktiviteter__cards{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1200px;
    align-items: stretch;
    margin: 0 auto;
    gap: 20px;
}

.aktiviteter__cards-item{
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 360px;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
}

.aktiviteter__cards-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.aktiviteter__cards-background{
    background-color: #F5F5F5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}

.aktiviteter__cards-heading{
    font-size:20px;
    font-weight: 900;
}

.aktiviteter__cards-item p{
    font-size: 20;
}