.aktiviteter{
    background-color: #A7B9A8;
    padding: 40px 0;
    text-align: center;
}

.aktiviteter__cards{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

.aktiviteter__cards-item{
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 5px;
    overflow: hidden;
}

.aktiviteter__cards-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.aktiviteter__cards-background{
    background-color: #F5F5F5;
    padding: 16px;
    display: flex;
    flex-direction: column;

}