/*Hjælp fra Chat GPT til at få skrift ovenpå hero billede. Link: https://chatgpt.com/share/69319955-cf44-8007-aae6-65349a92849b*/

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.hero-img{
    width: 100%;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}

.overlap-title {
    margin-top: -50px;  
    background: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-align: center;  
}



main p{
    line-height: 50px;
    font-size: 30px;
    margin: 30px 180px 0px;
}

h2{
    margin-top: 50px;
}

.udstyr p{
    text-align: center;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0;
}

.divider__line{
    height: 2px;
    background-color: #082D10;
    flex: 1;
}

.divider__line-left{
    margin-right: 20px;
    margin-left: 50px;
}

.divider__line-right{
    margin-left: 20px;
    margin-right: 50px;
}

.divider__icon img{
    width: 40px;
    height: auto;
}

.faciliteter p{
    margin: 10px 0px;
    font-size: 20px;
    line-height: normal;
}

.faciliteter__toilet-text{
    text-align: right;
}

.faciliteter{
    display: flex;
    flex-direction: row;
    padding: 85px;
    gap: 60px;
}

.faciliteter__toilet,
.faciliteter__kokken{
    flex: 1;
}

.faciliteter__kokken{
    align-content: end;
}

.faciliteter__lounge{
    flex: 1.4;
}

.faciliteter img{
    width: 100%;
}


@media (max-width: 1355px){
    .faciliteter{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 5%;
        padding: 5%;
    }

    .faciliteter__lounge{
        grid-column: 1;
        grid-row: 1 / span 2;
        align-content: center;
    }

    .faciliteter__kokken-img{
        grid-column: 2;
        grid-row: 1;
    }

    .faciliteter__toilet-img{
        grid-column: 2;
        grid-row: 2;
    }

   .faciliteter__kokken-text{
        grid-column: 1 / span 2;
        grid-row: 3;
    }

     .faciliteter__toilet-text{
        grid-column: 1 / span 2;
        grid-row: 4;
        text-align: left;
        margin-bottom: 5%;
     }

    .faciliteter__kokken,
    .faciliteter__toilet{
        display: contents;
    }

    main p{
        margin: 2% 10% 0%;
        line-height: 50px;
    }

    .faciliteter p{
        font-size: 30px;
    }


}

@media (max-width: 760px){
     main p, .faciliteter p{
        font-size: 15px;
        line-height: 30px;
    }

    .udstyr{
        background-color: #A7B9A850;
        padding: 30px;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }
}