/*Hjælp fra Chat GPT til at få skrift ovenpå hero billede. Link: https://chatgpt.com/share/69319955-cf44-8007-aae6-65349a92849b*/

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.hero-img{
    width: 100%;
}

.hero-img img {
    width: 100%;
    height: auto;
    display: block;
}

.overlap-title {
    margin-top: -50px;  
    background: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-align: center;  
}



main p{
    line-height: 50px;
    font-size: 30px;
    margin: 30px 180px 0px;
}

h2{
    margin-top: 50px;
}


.faciliteter div p{
    margin: 0px;
    font-size: 15px;
}

.faciliteter{
    display: grid;
    justify-items: center;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:100px auto 100px;
    grid-template-areas: 
        "a c d"
        "a c e"
        "b c e";
}

.faciliteter img{
    width: 100%;
}

.faciliteter__toilet{
    grid-area: a;
}

.faciliteter__toilet-text{
    grid-area: b;
    width: 100%;
}

.faciliteter__lounge{
    grid-area: c;
}

.faciliteter__kokken-text{
    grid-area: d;
    width: 100%;
}

.faciliteter__kokken{
    grid-area: e;
}