.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(
    to bottom, 
    #405046 0%, 
    #405046 65%, 
    #ffff 65%, 
    #ffff 100%
  );
}

.header{
    display: flex;
    justify-content: center;
}

.header__logo-front{
    width: 325px;
    padding-top: 45px;
}

.card__glamping, .card__eventsal{
    background-color:#A7B9A8;
    width: 670px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card__glamping button, .card__eventsal button{
    width: 203px;
    height: 45px;
    margin: 20px;
}

.card__eventsal img, .card__glamping img{
    border-radius: 20px;
    padding: 10px;
    align-self: center
}