.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(
    to bottom, 
    #405046 0%, 
    #405046 65%, 
    #ffff 65%, 
    #ffff 100%
  );
}

.header{
    display: flex;
    justify-content: center;
}

.header__logo-front{
    width: 325px;
    padding-top: 45px;
}

.card__glamping, .card__eventsal{
    background-color:#A7B9A8;
    width: 670px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.card__glamping button, .card__eventsal button{
    width: 203px;
    height: 45px;
}

.card__eventsal img{
    border-radius: 20px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.card__glamping img{
    border-radius: 20px;
    width: 100%;
    align-self: center;
    margin-top: 20px;
}

.card__glamping h2, .card__glamping p,
.card__eventsal h2, .card__eventsal p{
    text-align: left;
}

.card__glamping p, .card__eventsal p{
    margin-bottom: 25px;
}

.card__content{
    padding: 25px;
}

.index_text p{
    line-height: 50px;
    font-size: 30px;
    margin: 30px 180px 0px;
}

.index_text h1{
    margin-top: 50px;
}
