*{
    margin: 0;
}

body,html{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, html a,p{
    font-family: "houschka-rounded", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p, h3, h4{
    color: #3D3B3B;

}

main{
    flex: 1;
}

h1{
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 64px;
    color: #082D10;
}

h2{
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    color: #082D10;
}

.button{
    border-radius: 10px;
    background-color: #082D10;
    color: #F5F1E7;
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    width: 203px;
    height: 45px;
    text-decoration: none;
}

.button:hover{
    border-color: #082D10;
    color: #082D10;
    background-color: #F5F1E7;
    cursor: pointer;
}


/*----------CSS TIL HEADER----------*/
.header{
    background-color: #405046;
}

.header__nav{
    padding: 20px;
    display: flex;
    align-items: center;
}

.header__menu{
    display: flex;
    gap: 40px;
    list-style: none;
    margin:0 0 0 auto;
    padding: 0;
}

.header__logo img{
    width: 150px;
    height: auto;
}



.header__link{
    text-decoration: none;
    color: #F5F1E7;
    font-size: 20px;
}


.header__item--selected .header__link{
    text-decoration: underline;
    text-decoration-color:#F5F1E7 ;
    text-decoration-thickness:1.5px ;
}

/*----------CSS TIL FOOTER----------*/

.footer_top{
    position: relative; /* nødvendig for absolut placering af socials */
    background-color: #A7B9A8;
    display: flex;
    align-items: center;
    justify-content: space-between; /* kontakt til venstre, logo til højre */
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.footer_contact a, 
.footer_contact p{
    text-decoration: none;
    color: #082D10;
    font-size: 20px;
    flex-wrap: nowrap;
    font-weight: 300;
}

.footer_contact p{
    font-weight: 900;
}

.footer_contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_socials{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_contact, .footer_logo{
    flex: 0 0 auto;
}

.footer_copyright{
    background-color: #405046;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer_copyright p:last-child{
    margin-left: 15px;
}

.footer_copyright p{
    color: #F5F1E7;
    font-size: 20px;
}

.footer_copyright img{
    width: 15px;
}


.footer_logo img{
    width: 200px;
    height: auto;
}

@media (max-width: 760px){

    .line-break{
        display: block;
    }

    .button{
        font-size:18px ;
    }

    .footer_icon{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_socials{
        position:relative;
        display: flex;
        justify-content: center;
    }

    .footer_socials img{
        width: 50px;
        height: auto;
    }

    .footer_copyright p{
        font-size: 15px;
    }

    .footer_copyright img{
        width: 13px;
    }

    .footer_logo img{
        width: 150px;
        height: auto;
    }

    
}
