*{
    margin: 0;
}

body,html{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #FEFEFD;
}

body, html a,p{
    font-family: "houschka-rounded", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p, h3, h4{
    color: #3D3B3B;

}

main{
    flex: 1;
}

h1{
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 64px;
    color: #082D10;
}

h2{
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 60px;
    color: #082D10;
}

.button{
    border: solid transparent;
    border-radius: 10px;
    background-color: #082D10;
    color: #F5F1E7;
    font-family: "ivypresto-headline", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
    font-size: 25px;
    width: 203px;
    height: 45px;
    text-decoration: none;
    display: inline-block;
}

.button:hover{
    border-color: #082D10;
    color: #082D10;
    background-color: #F5F1E7;
    cursor: pointer;
}


/*----------CSS TIL HEADER----------*/
.header{
    background-color: #405046;
}

.header__nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    gap: 40px;
    list-style: none;
    margin:0 0 0 auto;
    padding: 0;
}

.header__logo img{
    width: 150px;
    height: auto;
}



.header__link{
    text-decoration: none;
    color: #F5F1E7;
    font-size: 20px;
}


.header__item--selected .header__link{
    text-decoration: underline;
    text-decoration-color:#F5F1E7 ;
    text-decoration-thickness:1.5px ;
}

.mobile-nav-toggle{
    display: none;
}

/*----------CSS TIL FOOTER----------*/

.footer_top{
    position: relative; /* nødvendig for absolut placering af socials */
    background-color: #A7B9A8;
    display: flex;
    align-items: center;
    justify-content: space-between; /* kontakt til venstre, logo til højre */
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.footer_contact a, 
.footer_contact p{
    text-decoration: none;
    color: #082D10;
    font-size: 20px;
    flex-wrap: nowrap;
    font-weight: 300;
}

.footer_contact p{
    font-weight: 900;
}

.footer_contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_socials{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_contact, .footer_logo{
    flex: 0 0 auto;
}

.footer_copyright{
    background-color: #405046;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer_copyright p:last-child{
    margin-left: 15px;
}

.footer_copyright p{
    color: #F5F1E7;
    font-size: 20px;
}

.footer_copyright img{
    width: 15px;
}


.footer_logo img{
    width: 200px;
    height: auto;
}

.line-break-big{
        display: block;
    }

@media (max-width: 768px){

    .line-break{
        display: block;
    }

    .button{
        font-size:18px ;
        width: 120px;
        height: 33px;
    }

    .footer_icon{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_socials{
        position:relative;
        display: flex;
        justify-content: center;
    }

    .footer_socials img{
        width: 50px;
        height: auto;
    }

    .footer_copyright p{
        font-size: 15px;
    }

    .footer_copyright img{
        width: 13px;
    }

    .footer_logo img{
        width: 150px;
        height: auto;
    }



/*https://www.youtube.com/watch?v=HbBMp6yUXO0 - hjælp til styleing fra video*/
/*https://chatgpt.com/share/69387a5d-bdc8-800a-92fc-97ed55f5c0e8 - hjælp til styling og animation fra ChatGPT*/
    .header__menu{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background-color: #405046;
        flex-direction: column;
        padding: 25% 15%;
        gap: 10%;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .header__menu[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9999;
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    }

    .burger-line {
        display: block;
        height: 4px;
        width: 100%;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .burger-line.cross:nth-child(1) {
        transform: rotate(45deg) translate(8.5px, 8.5px);
    }

    .burger-line.cross:nth-child(2) {
        opacity: 0;
    }

    .burger-line.cross:nth-child(3) {
        transform: rotate(-45deg) translate(8.5px, -8.5px);
    }

}
