/*CSS TIL FOOTER*/

*{
    margin: 0;
}

body,html{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.footer_top{
    background-color: #A7B9A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.footer_contact a,p{
    text-decoration: none;
    color: #082D10;
}

.footer_contact{
    display: flex;
    flex-direction: column;
}

.footer_copyright{
    background-color: #405046;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer_copyright p:last-child{
    margin-left: 15px;
}

.footer_copyright p{
    color: #F5F1E7;
}







.footer_logo img{
    width: 200px;
    height: auto;
}

