

*{
    margin: 0;
}

body,html{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, html a,p{
    font-family: "houschka-rounded", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
}

main{
    flex: 1;
}


/*CSS TIL FOOTER*/
.footer_top{
    background-color: #A7B9A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.footer_contact a,p{
    text-decoration: none;
    color: #082D10;
    font-size: 20px;
}

.footer_contact p{
    font-weight: 900;
}

.footer_contact{
    display: flex;
    flex-direction: column;
}


.footer_socials{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.footer_socials div{
    width: 1fr;
}

.footer_copyright{
    background-color: #405046;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer_copyright p:last-child{
    margin-left: 15px;
}

.footer_copyright p{
    color: #F5F1E7;
}

.footer_copyright img{
    width: 15px;
}






.footer_logo img{
    width: 200px;
    height: auto;
}

