/*CSS TIL FOOTER*/


.footer_top{
    background-color: #A7B9A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.footer_contact a,p{
    text-decoration: none;
    color: #082D10;
}

.footer_contact{
    display: flex;
    flex-direction: column;
}

.footer_copyright{
    background-color: #405046;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.footer_copyright p{
    color: #F5F1E7;
}







.footer_logo img{
    width: 200px;
    height: auto;
}

